.socialsContainer {
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--border);
  width: 100%;
  height: 400px;
  flex: 1;
  background-color: white;
}

.contactBox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--mantine-color-gray-light);
  color: var(--mantine-color-dark-9);
}

.contactIcon {
  font-size: 1.5rem;
  color: var(--mantine-color-blue-4);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 0.8rem;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
}

.facebook {
  background-color: #3b5998;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.twitter {
  background-color: #1da1f2;
}

.iconBox:hover {
  filter: brightness(1.1);
}
