.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--border);
  width: 100%;
  height: 400px;
  @media (min-width: 768px) {
    flex: 1;
  }
}

.input,
.textarea {
  border-radius: 0.5rem;
  background-color: var(--mantine-color-gray-light);
}

.submitBtn {
  align-self: flex-start;
}

.submitBtn:hover {
  background-color: var(--mantine-color-blue-7);
}
