.innerBox {
  width: 100%;
  height: 280px;
  border: 10px solid var(--border);
  border-radius: 1rem;
  overflow: hidden;
  & img {
    border-radius: 0.4rem;

    object-fit: cover;
  }
}
.outerBox {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}
.header {
  font-size: 3rem;
}
.vectorImg {
  height: auto;
  object-fit: cover;
}
