.imgBox {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.locTitle {
  color: var(--background);
  z-index: 2;
  position: inherit;
  margin: 1rem 1.5rem;
  font-size: 4rem;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}
.gridBox {
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}
.sliderHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
