.badge {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 15px;
  background-color: white;
  color: var(--foreground);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}
